@font-face {
    font-family: wild;
    src: url(PlayfairDisplayRegular-ywLOY.ttf);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    margin: 0;
    font-family: wild;
    
     
  }
  
  #picdsk {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    opacity: 0.55;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  #picmob {
    display: none;
  }
  
  #logodsk {
    position: absolute;
    bottom: 20%;
    right: 35%;
    z-index: -1;
  }
  
  #logomob {
    display: none;
  }
  
  
  
  #menudsk {
    font-size: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0;
    height: 1.1em;
    width: 100%;
    list-style: none;
    position: fixed;
    bottom: -1em;
    margin-left: 0.1%;
    margin-bottom: 1.6%;
   
  }
  
  
  #menumob {
    display: none;
  }
  
  
  #pic {
    height: 40px;
    position: absolute;
    bottom: 6px;
    left: 70px;
  
  }
  
  #thumb {
    width: 95%;
    border: 4px solid whitesmoke;
    border-radius: 2px;
  }

  
  .video {
    position: absolute;
    top: 3%;
    left: 18.3%;
    width: 60%;
    height: 70vh;
    border: 12px solid whitesmoke;
    outline: 3px solid lightgrey;
    background-color: whitesmoke;
   
  }
  
  section video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }
  
  section .navigation {
    position: absolute;
    bottom: 55px;
    left: 46%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section .navigation li {
    list-style: none;
    cursor: pointer;
    margin-bottom: -69%;
    margin-left: 1.8%;
    opacity: 0.4;
    transition: 2s, ease-in-out;
  }

  section .navigation li:hover {
      opacity: 0.8;
  }
  
  .link {
    text-decoration: none;
    color: black;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    border: 10px solid whitesmoke;
    padding-right: 0.5%;
    margin-left: 9%;
    margin-top: 2%;
    gap: 10px;
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
    background-color: whitesmoke;
    
  }
  
  .bandeau {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 199px;
    padding-top: 2%;  
    background-color: whitesmoke;
    border-top: 3px double lightgray;
    border-bottom: 3px double lightgray;
    border-right: 3px double lightgray;
    border-left: 3px double lightgray;
    
  }
  .bandeau div {
     width: 30%;
     margin-left: 2%;
     margin-left: 2%;
     margin-right: 3%;
  }

  .bandeau img{
    cursor: pointer;
  }


  #fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 3%;
    left: 0;
    width: 82%;
    height: 81%;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: whitesmoke;
    border: 10px solid whitesmoke;
    outline: 3px solid lightgrey;
    margin-left: 9%;
  }

  .form {
    position: absolute;
    left: 10.3%;
    top: 8%;
    background-color: whitesmoke;
    width: 79.8%;
    height: 73%;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 5px double lightgray;
    margin-left: 0%;
    margin-top: 0%;
    width: 95%;
    height: 88%;
  }

form input {
  width: 60%;
}

  form button {
    width: 20%;
    margin-top: 1%;

  }

form textarea {
  width: 60%;
}

form h1 {
  margin-top: 0%;
}

.RS {
  position: absolute;
  right: 3%;
}

.map {
  width: 80%;
  height: 450px;
  margin-left: 10%;
  margin-top: 3%;
  background-color: whitesmoke;

}

.map iframe {
  width: 95%;
  padding: 2%;
  margin-left: ;
  margin-top: ;
}

  .title {
    margin-top: auto;
    margin-bottom: auto;
  }

  @media screen and (max-width: 420px) {

    #picdsk {
      display: none;
    }

    #picmob {
      display: flex;
      object-fit: cover;
      position: fixed;
      height: 100vh;
      width: 100vw;
      opacity: 0.55;
      z-index: -100;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

    }
  
    h1 {
      font-size: 18.5px;
    }


    .bandeau {
      width: 268%;
    }

    .bandeau div {
      height: 100px;
      width: 20%;
    }

    .map {
      width: 86%;
      height: 439px;
      margin-left: 7%;
      margin-top: 3%;
      background-color: whitesmoke;
    
    }
    
    .map iframe {
      width: 90%;
      height: 400px;
      margin-left: 1.5%;
      margin-top: 2.5%;
    }

    .container {
      display: flex;
      flex-direction: column;
      border: 10px solid whitesmoke;
      padding-right: 0.5%;
      margin-left: 9%;
      margin-top: 2%;
      gap: 10px;
      width: 80%;
      height: 80vh;
      overflow-y: scroll;
      background-color: whitesmoke;
  }

    #menudsk {
        display: none;
    }
  
    #menumob {
        font-size: 13px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;    
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        margin-left: 4.3%;
        height: 1.5em;
        width: 90%;
        list-style: none;
        position: fixed;
        bottom: 1.5em;
        margin-bottom: -2%;
    }
    
    #logodsk {
        display: none;
    }
    
    section .navigation {
        position: absolute;
        bottom: 40px;
        left: 40%;
        margin-right: -64%;
        margin-left: 3%;
        transform: translateX(-50%);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .video {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 93.5%;
        height: 75vh;
        border: 12px solid whitesmoke;
        background-color: whitesmoke;
       
    }

    .form {
      position: absolute;
      left: 8%;
      top: 8%;
      background-color: whitesmoke;
      width: 84%;
      height: 68%;
    }
  
    form {
      display: flex;
      flex-direction: column;
      padding: 2%;
      border: 6px double lightgray;
      margin-left: 1.7%;
      margin-top: 2%;
      width: 89%;
      height: 92%;
      justify-content: space-between;
    }

    form input {
      width: 60%;
    }
    
    form button {
        width: 25%;
        margin-top: 1%;
    
      }
    form textarea {
      width: 250px;
    }  
  
  }
  
  @media screen and (min-width: 420px) and (max-width: 850px) {
  
    #logodsk {
        display: none;
    }

    .bandeau div {
      height: 91px;
      width: 25%;
    }

    h1 {
      font-size: 17.5px;
    }

  
    section .navigation {
        position: absolute;
        bottom: 40px;
        left: 40%;
        margin-right: -64%;
        transform: translateX(-50%);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }