@font-face {
    font-family: wild;
    src: url(PlayfairDisplayRegular-ywLOY.ttf);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    margin: 0;
    font-family: wild;
    
     
  }
  
  #picdsk {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    opacity: 0.55;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  #picmob {
    display: none;
  }
  
  #logodsk {
    position: absolute;
    bottom: 20%;
    right: 35%;
    z-index: -1;
  }
  
  #logomob {
    display: none;
  }
  
  
  
  #menudsk {
    font-size: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0;
    height: 1.1em;
    width: 99.1%;
    list-style: none;
    position: fixed;
    bottom: -1em;
    margin-bottom: 1.6%;
    border: 5px double lightgrey;
   
  }
  
  
  #menumob {
    display: none;
  }
  
  
  #pic {
    height: 40px;
    position: absolute;
    bottom: 6px;
    left: 70px;
  
  }
  
  #thumb {
    width: 95%;
    border: 4px solid whitesmoke;
    border-radius: 2px;
  }

  
  .video {
    position: absolute;
    top: 3%;
    left: 18.3%;
    width: 60%;
    height: 70vh;
    border: 12px solid whitesmoke;
    outline: 6px solid lightgrey;
    background-color: whitesmoke;
   
  }
  
  section video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }
  
  section .navigation {
    position: absolute;
    bottom: 55px;
    left: 47%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section .navigation li {
    list-style: none;
    cursor: pointer;
    margin-bottom: -69%;
    margin-left: 1.8%;
    opacity: 0.4;
    
  }

  section .navigation li:hover {
      opacity: 1;
      transform: scale(1.4);
      transition: 0.1s;
      z-index: 100;
  }
  
  .link {
    text-decoration: none;
    color: black;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    border: 10px solid whitesmoke;
    padding-right: 1%;
    margin-left: 8.6%;
    margin-top: 2%;
    gap: 10px;
    width: 80%;
    height: 78.5vh;
    overflow-y: scroll;
    background-color: whitesmoke;
    outline: 5px solid lightgray;

  }
  
  .bandeau {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 191px;
    padding-top: 2%;  
    background-color: whitesmoke;
    border: 5px double lightgray;

  }

  .title {
   margin-top: 25%;
  }

  .title2 {
    margin-top: 18%;
   }
 

  .bandeau div {
     width: 30%;
     margin-left: 2%;
     margin-right: 4%;
     margin-bottom: 0.4%;
  }

  .bandeau img{
    cursor: pointer;
    outline: 5px double lightgray;
  }


  #fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 3%;
    left: 0;
    width: 82%;
    height: 81%;
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    border: 10px solid whitesmoke;
    outline: 5px solid lightgrey;
    margin-left: 8.5%;
  }

  .form {
    position: absolute;
    left: 10%;
    top: 8%;
    background-color: whitesmoke;
    outline: 5px solid lightgrey;
    width: 79.8%;
    height: 74%;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-left: 1.5%;
    margin-top: 1.7%;
    width: 90%;
    height: 76%;
    border: 4px double lightgrey;
  }

form input {
  width: 60%;
}

form button {
  width: 20%;
  margin-top: 1%;

}

form textarea {
  width: 60%;
}

form h1 {
  margin-top: 0%;
}

.RS {
  position: absolute;
  right: 4.9%;
  top: 13%;
}

.RS img {
  height: 40px;
  width: 40px;
}

#rey {
  height: 200px; 
  position: absolute;
  right: -17%;
  top: 0%;
  opacity: 0;
  
}

#marion {
  height: 200px; 
  position: absolute;
  right: -15%;
  bottom: -19%;
  opacity: 0;
  z-index: -1;
  
}


#mnt {
  position: absolute;
  right: 3%;
  top: 25.1%;
}

 #insp {
  margin-left: 39%;
  margin-top: 10%;
  height: 250px;
  width: 250px;
  background-color: lightyellow;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 15px  lightyellow;
  text-align: center;
  opacity: 0.92;
  
}

#text {
  background-color: lightyellow;
  position: absolute;
  right: 37%;
  top: 45%;
}

#insp.growth {
  animation: growth 3.5s linear forwards;
}

#insp.shrink {
  animation: shrink 3.5s linear forwards;
}

@keyframes growth{
  from{
      transform: scale(1)
  }to{
      transform: scale(1.7);
  }
}

@keyframes shrink{
  from{
      transform: scale(1.7)
  }to{
      transform: scale(1);
  }
}


@media screen and (max-width: 419px) {

    #picdsk {
      display: none;
    }

    #picmob {
      display: flex;
      object-fit: cover;
      position: fixed;
      height: 100vh;
      width: 100vw;
      opacity: 0.55;
      z-index: -100;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

    }
  
    h1 {
      font-size: 18.5px;
    }


    .bandeau {
      width: 190%;
      padding-top: 5%;
    }

    .bandeau div {
      height: 100px;
      width: 600px;
    }


    #thumb {
      width: 80%;
      margin-left: 6%;
      border: 4px solid whitesmoke;
      border-radius: 2px;
    }

    .container {
      display: flex;
      flex-direction: column;
      border: 10px solid whitesmoke;
      padding-right: 0.5%;
      margin-left: 7%;
      margin-top: 8%;
      gap: 10px;
      width: 80%;
      height: 80vh;
      overflow-y: scroll;
      background-color: whitesmoke;
  }

    #menudsk {
        display: none;
    }
  
    #menumob {
        font-size: 13px;
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;    
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        margin-left: 3%;
        height: 1.5em;
        width: 90%;
        list-style: none;
        position: fixed;
        bottom: 1.5em;
        margin-bottom: -2%;
        border: 5px double lightgrey;
    }
    
    #logodsk {
        display: none;
    }
    
    section .navigation {
        position: absolute;
        bottom: 40px;
        left: 40%;
        margin-right: -64%;
        margin-left: 3%;
        transform: translateX(-50%);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .video {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 93.5%;
        height: 75vh;
        border: 12px solid whitesmoke;
        background-color: whitesmoke;
       
    }

    .form {
      position: absolute;
      left: 8%;
      top: 8%;
      background-color: whitesmoke;
      width: 84%;
      height: 69%;
    }
  
    form {
      display: flex;
      flex-direction: column;
      padding: 2%;
      border: 6px double lightgray;
      margin-left: 1.7%;
      margin-top: 2%;
      width: 89%;
      height: 92%;
      justify-content: space-between;
    }

    form input {
      width: 60%;
    }
    
    form button {
        width: 25%;
        margin-top: 1%;
    
      }
    form textarea {
      width: 250px;
    }  


    #fullpage {
      display: none;
      position: absolute;
      z-index: 9999;
      top: 29.5%;
      left: 0;
      width: 93.5%;
      height: 31%;
      background-size: cover;
      background-repeat: no-repeat no-repeat;
      background-position: center center;
      background-color: whitesmoke;
      border: 10px solid whitesmoke;
      outline: 3px solid lightgrey;
      margin-left: 0.6%;
    }


    .RS {
      position: absolute;
      right: 6%;
      top: 4%;
    } 

    .RS img {
      height: 25px;
      width: 25px;
    }


    #mnt {
      display: none;
    }
     

    
    #rey {
    display: none;
  
    }

    #marion {
      display: none;
    }

    #insp {
      margin-left: 31%;
      margin-top: 59%;
      height: 150px;
      width: 150px;
      background-color: lightyellow;
      border-radius: 50%;
      box-shadow: 0px 0px 15px 15px  lightyellow;
      text-align: center;
      
    }
    
    #text {
      background-color: lightyellow;
      position: absolute;
      right: 31%;
      top: 42%;
    }
  
  }



@media screen and (min-width: 420px) and (max-width: 843px) {
  
    #logodsk {
        display: none;
    }

    #menudsk {
      display: none;
    }

    #menumob {
      font-size: 13px;
      background-color: whitesmoke;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;    
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
      margin-left: 4%;
      height: 1.5em;
      width: 90%;
      list-style: none;
      position: fixed;
      bottom: -3.5%;
      border: 5px double lightgrey;
  }

    #thumb {
      width: 60%;
      margin-bottom: 12%;
      margin-left: 6%;
      border: 4px solid whitesmoke;
      border-radius: 2px;
    }

    .container {
      display: flex;
      flex-direction: column;
      border: 10px solid whitesmoke;
      padding-right: 1%;
      margin-left: 5.2%;
      margin-top: 4%;
      gap: 10px;
      width: 86%;
      height: 65.5vh;
      overflow-y: scroll;
      background-color: whitesmoke;
      outline: 6px solid lightgray;
  }

  .bandeau {
    width: 99%;
  }

    .bandeau div {
      height: 91px;
      width: 30%;
    }

    h1 {
      font-size: 17.5px;
    }

    .video {
      position: absolute;
      top: 0%;
      left: 0.45%;
      width: 95%;
      margin-left: 0.3%;
      height: 70vh;
      border: 12px solid whitesmoke;
      background-color: whitesmoke;
     
  }

  
    section .navigation {
        width: 70%;
        height: 10%;
        position: absolute;
        bottom: 30%;
        left: 47%;
        transform: translateX(-50%);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form {
      position: absolute;
      left: 5.2%;
      top: 6%;
      background-color: whitesmoke;
      width: 90%;
      height: 78%;
    }
  
    form {
      display: flex;
      flex-direction: column;
      padding: 2%;
      border: 6px double lightgray;
      margin-left: 2.5%;
      margin-top: 2%;
      width: 89%;
      height: 79%;
      justify-content: space-between;
    }

    form input {
      width: 40%;
    }
    
    form button {
        width: 25%;
        margin-top: 1%;
    
      }
    form textarea {
      width: 60%;
    }  

    .RS {
      position: absolute;
      right: 8%;
    } 

    .RS img {
      height: 25px;
      width: 25px;
    }

    #mnt {
      position: absolute;
      right: 6%;
      top: 32%;
      height: 50%;
    }

    #rey {
      display: none;
    
      }

    #marion {
      display: none;
      }

      
    #insp {
      margin-left: 38%;
      margin-top: 14%;
      height: 150px;
      width: 150px;
      background-color: lightyellow;
      border-radius: 50%;
      box-shadow: 0px 0px 15px 15px  lightyellow;
      text-align: center;
      
    }
    
    #text {
      background-color: lightyellow;
      position: absolute;
      right: 31%;
      top: 42%;
    }
  }

  @media screen and (min-width: 844px) and (max-width: 900px) {
    
    #logodsk {
      display: none;
  }

    #menudsk {
      display: none;
    }

    #menumob {
      font-size: 13px;
      background-color: whitesmoke;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;    
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
      margin-left: 4%;
      height: 1.5em;
      width: 90%;
      list-style: none;
      position: fixed;
      bottom: 1.5em;
      margin-bottom: -2.3%;
      border: 5px double lightgrey;
  }


  #thumb {
    width: 60%;
    margin-left: 6%;
    border: 4px solid whitesmoke;
    border-radius: 2px;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 10px solid whitesmoke;
    padding-right: 1%;
    margin-left: 8.6%;
    margin-top: 3.5%;
    gap: 10px;
    width: 80%;
    height: 64.5vh;
    overflow-y: scroll;
    background-color: whitesmoke;
    outline: 6px solid lightgray;
}

.bandeau {
  width: 99%;
}

  .bandeau div {
    height: 91px;
    width: 25%;
  }
  

  h1 {
    font-size: 17.5px;
    margin-left: 0%;
  }

  .title {
    margin-top: 18%;
   }
 
   .title2 {
     margin-top: 10%;
    }

    .video {
    position: absolute;
    top: 1%;
    left: 0.45%;
    width: 96%;
    margin-left: 0.1%;
    height: 70vh;
    border: 12px solid whitesmoke;
    background-color: whitesmoke;
   
}


section .navigation {
  width: 55%;
  position: absolute;
  bottom: 21%;
  left: 47%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

  section .navigation li {
    list-style: none;
    cursor: pointer;
    margin-bottom: -50%;
    margin-left: 1.8%;
    opacity: 0.4;
    transition: 2s, ease-in-out;
}

  .form {
    position: absolute;
    left: 5%;
    top: 6%;
    background-color: whitesmoke;
    width: 90%;
    height: 78%;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 6px double lightgray;
    margin-left: 2.6%;
    margin-top: 1.5%;
    width: 89%;
    height: 79%;
    justify-content: space-between;
  }

  form input {
    width: 40%;
  }
  
  form button {
      width: 25%;
      margin-top: 1%;
  
    }
  form textarea {
    width: 60%;
  }  

  .RS {
    position: absolute;
    right: 8%;
  } 

  .RS img {
    height: 25px;
    width: 25px;
  }

  #mnt {
    position: absolute;
    right: 6%;
    top: 32%;
    height: 50%;
  }

  #rey {
    display: none;
  
    }

  #marion {
    display: none;
    }

    
    #insp {
      margin-left: 41%;
      margin-top: 12%;
      height: 150px;
      width: 150px;
      background-color: lightyellow;
      border-radius: 50%;
      box-shadow: 0px 0px 15px 15px  lightyellow;
      text-align: center;
      
    }
    
    #text {
      background-color: lightyellow;
      position: absolute;
      right: 31%;
      top: 42%;
    }
}
